[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
pandas = "*"
pytility = "*"
scipy = "*"
turicreate = "*"

[dev-packages]
black = "==21.9b0"
mypy = "*"
pre-commit = "*"
pylint = "*"
twine = "*"
ipython = "*"
