[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
fastai = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
polars = "*"
pytility = "*"
scikit-learn = "*"
scipy = "*"
seaborn = "*"
turicreate = "*"

[dev-packages]
black = "*"
ipython = "*"
jupyterlab = "*"
jupytext = "*"
mypy = "*"
nb-black = "*"
pandas-stubs = "*"
pre-commit = "*"
pylint = "*"
twine = "*"
