[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[packages]
pytility = "*"
turicreate = "*"

[dev-packages]
black = "==19.10b0"
mypy = "*"
pylint = "*"
twine = "*"
