certifi==2018.4.16
chardet==3.0.4
coremltools==0.8
decorator==4.3.0
graphviz==0.8.3
idna==2.6
mxnet==1.1.0.post0
numpy==1.14.3
pandas==0.23.0
Pillow==5.1.0
prettytable==0.7.2
protobuf==3.5.2.post1
python-dateutil==2.7.3
pytz==2018.4
requests==2.18.4
six==1.11.0
turicreate==4.3.2
urllib3==1.22
